doctype html
html
  include includes/head.pug
  body

    h1 
      a(href="https://github.com/project-calavera/express-nodemailer-skeleton") Expressjs nodemailer Skeleton ~ Project Calavera
    h2 It Works! \o/

    include includes/footer.pug
